{% extends 'layouts/base.html' %}

{% block content %}
  <div class="container mt-4">
    {% if page_obj %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for course in page_obj %}
            <tr>
              <th scope="row">
                <a style="text-decoration: none;" href="{% url 'course-detail' course.slug %}"><small>{{ course.title|title }}</small></a>
              </th>
              <th scope="row">
                <a style="text-decoration: none;" href="{% url 'course-category' course.category.slug %}"><small>{{ course.category }}</small></a>
              </th>
              <td>
                <p class="card-text">
                  <small class="text-body-secondary">{{ course.created_at|date:'d.m.Y' }}</small>
                </p>
              </td>
              <td>
                <p class="card-text">
                  <small class="text-body-secondary">{{ course.updated_at|date:'d.m.Y' }}</small>
                </p>
              </td>
              <td>
                <a href="{% url 'edit-course' course.slug %}" class="btn btn-primary btn-sm"><span class="bi-pencil-fill"></span>&nbsp;Edit</a>
                <a href="{% url 'delete-course' course.slug %}" class="btn btn-danger btn-sm"><span class="bi-trash3-fill"></span>&nbsp;Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'courses/partials/_paginator.html' %}
    {% else %}
      <div class="alert alert-warning" role="alert">Course Not Found!</div>
    {% endif %}
  </div>
{% endblock %}
