{% extends 'layouts/base.html' %} {% block content %}
  {% load form_filters %}

  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        {% if success %}
          <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}

        {% if error %}
          <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endif %}

        <form method="POST" action="{% url 'edit-course' slug %}" enctype="multipart/form-data">
          {% csrf_token %}
          
          {% for field in form %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

              {% if field.errors %}
                {{ field.as_widget|safe|add_invalid_class }}
                <div class="invalid-feedback">{{ field.errors.0 }}</div>
              {% else %}
                {{ field.as_widget|safe|add_form_control }}
              {% endif %}
            </div>
          {% endfor %}

          <button type="submit" class="btn btn-success">Kaydet</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
