{% for course in page_obj %}
  {% if course.is_active %}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ course.image.url }}" alt="{{ course.title }}" class="img-fluid" style="height: 200px; width: 100%; object-fit: cover;" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ course.title|title }}</h5>
            <p class="card-text">{{ course.description|truncatechars:65 }}</p>
            <p class="card-text">
              <small class="text-body-secondary">Yayınlanma tarihi: {{ course.updated_at|date:'d.m.Y' }}</small>
            </p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Yayınlanma tarihi: {{ course.created_at|date:'d.m.Y' }}</small>
      </div>
    </div>
  {% endif %}
{% empty %}
  <div class="alert alert-warning" role="alert">Kurs bulunamadı!</div>
{% endfor %}
