{% load static %}
{% for course in courses %}
  {% if course.is_active %}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ course.image.url }}" class="img-fluid" alt="{{ course.title }}" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ course.title|title }}</h5>
            <p class="card-text">{{ course.description|truncatechars:65 }}</p>
            <p class="card-text">
              <small class="text-body-secondary"><p>Yayınlanma tarihi: {{ course.updated_at|date:'d.m.Y' }}</p></small>
            </p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><p>Yayınlanma tarihi: {{ course.created_at|date:'d.m.Y' }}</p></small>
      </div>
    </div>
  {% endif %}
{% empty %}
  <p>There are no items yet.</p>
{% endfor %}
